#aboutUs {
  /* padding: 1rem 0 0 0; */
}

.about {
  background-color: #687864!important;
  color: #F7F9FB;
  padding-top: 4.5rem;
  /* border-top: 7px double white;
  border-right: 7px double white;
  border-left: 7px double white; */
}

.imageShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
