#aboutUs {
  padding: 1rem 0 0 0;
}

.about {
  background-color: #687864!important;
  color: white;
  padding-top: 3rem;
  border-top: 7px double white;
  border-right: 7px double white;
  border-left: 7px double white;
}

.imageShadow {
  background-color: #F7F9FB;
}
