.about {
  background-color: #687864!important;
  color: #F7F9FB;
  padding-top: 5.75rem;
  padding-bottom: 1rem;
}

.about h1 {
  font-size: 300%;
  text-shadow: 1px 1px 15px #000;
}

.imageShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
