#aboutCards {
  background-color: #5085A5!important;
  color: white;
  padding: 0 3rem 3rem 3rem;
  border-bottom: 7px double white;
  border-right: 7px double white;
  border-left: 7px double white;
}

.card {
  background-color: #F7F9FB;
}

.card-body {
  background-color: #687864;
  color: white;
}
