#aboutCards {
  background-color: #5085A5!important;
  color: white;
  padding: 0 3rem 3rem 3rem;
  border-bottom: 7px double white;
  border-right: 7px double white;
  border-left: 7px double white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.card-body {
  background-color: #687864;
  color: white;
}
