.modal {
  font-size: 12px;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal > .content {
  padding: 10px 5px;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.modalStyle {
  color: black!important;
  background-color: green!important;
}

@media (min-width 576px) {


  .left {
    float: left;
    padding: .7rem 0rem .5rem 3rem;
  }

  .right {
    float: right;
    padding: .7rem 3rem .5rem 0rem;
  }

  .popup-content {
    max-width: 700px!important;
    max-height: 400px!important;
    min-width: 700px!important;
    min-height: 400px!important;
  }

  #businessCardLogo {
    font-family: 'Playbill', sans-serif;
    font-size: 270%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-shadow: -2px 2px 1px rgba(163, 163, 163, 1);
    color: red;
   -webkit-text-fill-color: red; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
    display: inline-flex;
    position: relative;
    top: 50%;
    transform: translateY(27%) translateX(1%);
    word-spacing: none;
  }

  #businessCardLogoPosition {
    padding-left: 1.6rem;
  }

  .contactIcon {
    display: inline-block;
    padding-left: .3rem;
  }

  .pushRight {
    padding-left: 1.3rem;
  }

  #steve {
    font-size: 2.4rem;
    text-align: center;
    padding-top: 1.2rem;
  }
}

@media (max-width 576px) {
  .popup-content {
    max-width: 300px!important;
    max-height: 200px!important;
    min-width: 300px!important;
    min-height: 200px!important;
  }

  #businessCardLogo {
    font-family: 'Playbill', sans-serif;
    font-size: 180%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-shadow: -2px 2px 1px rgba(163, 163, 163, 1);
    color: red;
   -webkit-text-fill-color: red; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
    display: inline-flex;
    position: relative;
    top: 50%;
    transform: translateY(27%) translateX(1%);
    word-spacing: none;
  }

  #businessCardLogoPosition {
    padding-left: .8rem;
  }

  .contactIcon {
    display: inline-block;
    padding-left: .1rem;
  }

  .pushRight {
    padding-left: .8rem;
  }

  #steve {
    font-size: 1.8rem;
    text-align: center;
    padding-top: .8rem;
  }
}
