.modal {
  font-size: 12px;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal > .content {
  padding: 10px 5px;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.modalStyle {
  color: black!important;
  margin:1rem;
  text-align: center;
}

 #businessCardLogo {
  font-family: 'Playbill', sans-serif;
  font-size: 270%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-shadow: -2px 2px 1px rgba(163, 163, 163, 1);
  color: red;
 -webkit-text-fill-color: red; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: white;
  display: inline-block;
  word-spacing: none;
  margin-top: 1rem;
  position: relative;
    left:0;
    top:0;
}

#emailLarge {
  display: none;
}


#steve {
font-size: 130%;
}

#treeCard {
  position: relative;
    left:0;
    top:0;
}

@media (max-width: 576px) {
  #emailSmall {
    display: none;
  }

  #emailLarge {
    display: inherit;
  }
}
