.modal {
  font-size: 12px;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal > .content {
  padding: 10px 5px;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.modalStyle {
  color: black!important;

}

.popup-content {
  max-width: 700px!important;
  max-height: 400px!important;
  min-width: 700px!important;
  min-height: 400px!important;
}

.left {
  float: left;
  padding: 3rem 0rem .5rem 3rem;
}

.right {
  float: right;
  padding: 3rem 3rem .5rem 0rem;
}


#businessCardLogo {
  font-family: 'Playbill', sans-serif;
  font-size: 250%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-shadow: -2px 2px 1px rgba(163, 163, 163, 1);
  color: red;
 -webkit-text-fill-color: red; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: white;
  display: inline-flex;
  position: relative;
  top: 50%;
  transform: translateY(27%) translateX(1%);
  word-spacing: none;
}

#businessCardLogoPosition {
  padding-left: 1.6rem;
}
