.allHeader {
  background-color: #5085A5;
  padding-bottom: 3rem;
  border: 7px double white;
}

#aboutHeader {
  border-bottom: none!important;
}

.header {
  width: 75%;
  margin: 0 auto;
  padding-top: 3.3rem;
  color: #687864;
}

.header h1 {
  border: 7px double #687864;
  border-radius: 10px;
  background-color: #F7F9FB;
  padding: .5rem;
  font-size: 300%;
}

.header hr {
  border-top: 2px solid rgba(247, 249, 251, 1);
  width: 95%;
}
