.allHeader {
  background-color: #687864;
  padding-bottom: .25rem;
  font-family: 'Crimson Text', serif;
}

#aboutHeader {
  background-color: #F7F9FB!important;
}

.teamHeader {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
  color: #687864;
  text-shadow: 1px 1px 15px darkgrey;
}

.header {
  width: 75%;
  margin: 0 auto;
  padding-top: 3.2rem;
  color: #F7F9FB;
}

.header h1 {
  font-size: 3.5rem;
  text-shadow: 1px 1px 15px #000;
}

.header hr {
  border-top: 2px solid rgba(247, 249, 251, 1);
  width: 95%;
}
