
h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100%;
}

.each-fade .image-container img {
  width: 100%;
  padding: 3px;
}

.each-fade h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-70%) translateX(20%);
  /* z-index: 999; */
  color: white;
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}


/*---Media Queries --*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .each-fade h2 {
    font-size: 350%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    top: 45%;
  }
}

@media (max-width: 576px) {
  .each-fade h2 {
    font-size: 250%;
    top: 40%;
  }
}
