
h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100%;
}

.each-fade .image-container img {
  width: 100%;
  /* padding: 3px; */
}

.each-fade h2 {
  position: absolute;
  top: 55%;
  transform: translateY(-70%) translateX(20%);
  /* z-index: 999; */
  color: #F7F9FB;
  font-size: 550%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
  font-family: 'Crimson Text', serif;
}

.customLandscapeVideo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}



/*---Media Queries --*/
@media (max-width: 992px) {
  .each-fade h2 {
    font-size: 450%;
    top: 60%;
  }
}

@media (max-width: 768px) {
  .each-fade h2 {
    font-size: 350%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    top: 60%;
  }
}

@media (max-width: 576px) {
  .each-fade h2 {
    font-size: 200%;
    top: 60%;
  }
}
