@font-face {
font-family: 'Playbill';
font-style: normal;
font-weight: normal;
src: local('Playbill'), url('Playbill.woff') format('woff');
}

#navStyles {
  background-color: rgba(247, 249, 251, 1);
}

/* navlink font styles  */
.nav-link {
  font-size: 1.4em !important;
  color: #677864!important;
  font-weight: bold;
  font-family: 'Crimson Text', serif;
}

.nav-link:hover {
  color: black!important;
}
/* end

/* styles phone number */
#phoneNumber {
  display: none;
}

#phoneNumberSmall {
  font-size: 2rem;
  font-weight: bold;
  font-size: 120%!important;
  color: black;
  padding-bottom: .7rem;
}
/* end */

/* styles font for shipp brothers logo and positions next to tree image logo */
#brandLogo {
  font-family: 'Playbill', sans-serif;
  font-size: 300%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-shadow: -2px 2px 1px rgba(163, 163, 163, 1);
  color: red;
 -webkit-text-fill-color: red; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: white;
  display: inline-flex;
  position: relative;
  top: 50%;
  transform: translateY(27%) translateX(1%);
  word-spacing: none;
}
/* end */

#logoBreak {
  display: none;
}

/* dropdown menus styles */
.dropdown-menu {
  background-color: rgba(247, 249, 251, .9);
}

.dropdown-item {
  font-weight: bolder;
  color: rgba(103, 120, 100, 1);
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem!important;
}

.dropdown-item:hover {
  color: rgba(247, 249, 251, 1);
  background-color: rgba(103, 120, 100, 1);
  font-weight: bolder;
}
/* end */


/*---Media Queries --*/
@media (max-width: 992px) {

}

@media (max-width: 340px) {
  #brandLogo {
    display: inline-flex;
    position: relative;
    top: 50%;
    transform: translateY(14%) translateX(2%);
    word-spacing: none;
    font-size: 180%;
  }
}

@media (max-width: 576px) {
  #brandLogo {
    display: inline-flex;
    position: relative;
    top: 50%;
    transform: translateY(14%) translateX(2%);
    word-spacing: none;
    font-size: 210%;
  }

  #logoBreak {
    display: none;
  }

  .nav-link {
    font-size: 1.1rem !important;
    text-align: center;
  }

  #phoneNumberSmall {
    text-align: center;
    font-family: 'Crimson Text', serif;
  }

  .dropdown-item {
    font-size: 1.1rem!important;
  }
}

@media (min-width: 992px) {
  #navStyles {
    padding-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  #linkPosition {
    padding-top: 50px;
  }
}

@media (min-width: 1200px) {
  #phoneNumber {
    display: inherit;
    position: absolute;
    top: 26px;
    right: 24px;
    font-weight: bold;
    font-size: 125%!important;
    color: black;
    font-family: 'Crimson Text', serif;
  }

  #phoneNumberSmall {
    display: none;
  }
}
