@font-face {
font-family: 'Playbill';
font-style: normal;
font-weight: normal;
src: local('Playbill'), url('Playbill.woff') format('woff');
}


#navStyles {
  background-color: rgba(247, 249, 251, 1);
}

/* navlink font styles  */
.nav-link {
  font-size: 1.2em !important;
  color: #677864!important;
  font-weight: bold;
}

.nav-link:hover {
  color: black!important;
}
/* end


/* styles phone number */
#phoneNumber {
  font-weight: bold;
  font-size: 100%!important;
  color: black;
}
/* end */



/* styles font for shipp brothers logo and positions next to tree image logo */
#brandLogo {
  font-family: 'Playbill', sans-serif;
  font-size: 260%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-shadow: -2px 2px 1px rgba(163, 163, 163, 1);
  color: red;
 -webkit-text-fill-color: red; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: white;
  display: inline-flex;
  position: relative;
  top: 50%;
  transform: translateY(27%) translateX(1%);
  word-spacing: none;
}
/* end */

#logoBreak {
  display: none;
}

/* dropdown menus styles */
.dropdown-menu {
  background-color: rgba(247, 249, 251, .9);
}

.dropdown-item {
  font-weight: bolder;
  color: rgba(103, 120, 100, 1);
}

.dropdown-item:hover {
  color: rgba(247, 249, 251, 1);
  background-color: rgba(103, 120, 100, 1);
  font-weight: bolder;
}
/* end */


/*---Media Queries --*/
@media (max-width: 992px) {

}

@media (max-width: 576px) {
  #brandLogo {
    display: inline-flex;
    position: relative;
    top: 50%;
    transform: translateY(14%) translateX(2%);
    word-spacing: none;
  }

  #logoBreak {
    display: inherit;
  }
}

@media (min-width: 992px) {
  .navBackgroundImg {
    background-image: url("/images/navImages/forestBackground.png");
    position: relative;
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  #navStyles {
    padding-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  #linkPosition {
    padding-top: 50px;
  }

  .firstBreak:after {
    content: '\A';
    white-space: pre;
  }

  #phoneNumber {
    position: absolute;
    top: 26px;
    right: 24px;
    font-size: 1rem;
  }
}
