#services {
  background-color: #F7F9FB;
}

.service {
  padding: 5rem 2rem 2rem 2rem;
}

.service p {
  font-family: 'Cardo', serif;
  font-size: 1.3rem;
}

.columnPadding {
  padding: 1rem;
}

.green {
  background-color: #687864!important;
  color: #F7F9FB;
}

.blue {
  background-color: #F7F9FB!important;
  color: black!important;
  font-weight: 400;
}

.imageShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}


@media (max-width: 576px) {
  .service p {
    font-size: 1.2rem;
  }

  .service {
    padding: 1rem 2rem 1rem 2rem;
  }
}
