#services {
  background-color: #F7F9FB;
}

.service {
  color: #F7F9FB;
  padding: 2rem 2rem 0 2rem;
  /* padding-top: 3rem;
  border-bottom: 7px double white;
  border-right: 7px double white;
  border-left: 7px double white; */
}

.columnPadding {
  padding: 1rem;
}

.green {
  background-color: #687864!important;
}

.blue {
  background-color: #5085A5!important;
}

.imageShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
