.treeBackground {
  /* z-index: 0; */
  position: relative;
  height: 13vh;
  width: 100%;
  background-image: url('/images/TreeBackground.png');
  background-repeat: repeat-x;
  background-position:0 100%;
  /* background-size:20%;  */
  background-color: #687864;
  border-bottom: 7px double white;
  border-right: 7px double white;
  border-left: 7px double white;
  margin-bottom: 1.1rem;
}
