.treeBackground {
  position: relative;
  height: 11vh;
  width: 100%;
  background-image: url('/images/TreeBackground.png');
  background-repeat: repeat-x;
  background-position:0 100%;
  background-color: #687864;
}

.treeBackgroundTop {

  position: relative;
  height: 8vh;
  width: 100%;
  background-image: url('/images/TreeBackgroundTop.png');
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-color: #687864;
  margin-top: 0;
}

.treeBackgroundBottom {

  position: relative;
  height: 7vh;
  width: 100%;
  background-image: url('/images/TreeBackgroundBottom.png');
  background-repeat: repeat-x;
  background-position: 1 100%;
  background-color: #F7F9FB

}
