.innerStyles {
  width: 600px!important;
  height: 400px!important;
  margin-top: 1rem;
  margin-bottom: 7rem;
}

.modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid {
  max-height: 500px!important;
  width: 100%!important;
}

@media (max-width: 576px) {
  .innerStyles {
    width: 300px!important;
    height: 200px!important;
  }
}
